<div class="login_form">
  <h1>Đăng Ký</h1>
  <div class=" w3l-login-form">
      <form action="#" method="POST">

          <div class=" w3l-form-group">
              <label>Tên Đăng Nhập:</label>
              <div class="group">
                
                  <input type="text" class="form-control" placeholder="" required="required" />
              </div>
          </div>
          <div class=" w3l-form-group">
              <label>Mật Khẩu:</label>
              <div class="group">
                 
                  <input type="password" class="form-control" placeholder="" required="required"/>
              </div>
          </div>
          <div class=" w3l-form-group">
            <label>Email:</label>
            <div class="group">
              
                <input type="text" class="form-control" placeholder="" required="required" />
            </div>
        </div>
        <div class=" w3l-form-group">
            <label>Số điện thoại:</label>
            <div class="group">
              
                <input type="text" class="form-control" placeholder="" required="required" />
            </div>
        </div>
          <button type="submit">Đăng ký</button>
      </form>
      
  </div>
</div>