.movie__item{
   position: relative;
}
.movie__item img{
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 0 16px 0 rgba(195, 177, 158, 0.5);
}
.movie__item p{
    font-size:18px;
    margin:15px;
    font-weight: bold;
}
.btn_booked {
    
}
.btn{
    background-color:#fa5238;
    border:none;
    padding:10px 20px;
    color:white;
    width: 100%;
    font-size:20px;
    border-radius: 5px;
    display: none;
    margin-top:10px;
}

.movie__item:hover .btn{
    display: block;
}
.movie_play_button{
    position: absolute;
    top: 33%;
    left: 32%;
    display: none;  
    background-color: transparent;
    outline: none;
    
}
.movie__item:hover .movie_play_button{
    display: block;
    padding: 0;
    border: none;
}    
.movie_play_button:hover i{
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.5);
}
.movie_play_button i{
    font-size: 30px;
    border-radius: 50%;
    border: solid 1px white;
    width: 50px;
    height: 50px;
    color: white;
    padding: 9px 15px;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: none;
    border-radius: 5%;
}
.movie__item:hover .background{
    display: block;
    opacity: .3;
    
}    
