<div class="movie__item item" (mouseover)="showName()" (mouseleave)="isShowName=true">
    <img [src]="Itemphim.HinhAnh" alt="" style="width: 200px;height:300px">
    <div class="background" style="width: 200px;height:300px">

    </div>
    <p *ngIf="isShowName">{{Itemphim.TenPhim}}</p>
    <button class="btn" *ngIf="isShowButton" routerLink='trang-chi-tiet/{{Itemphim.MaPhim}}'>Đặt Vé</button> 
    <!-- <div class="movie_play_button" >
            
    </div> -->
    
<button class="movie_play_button" data-toggle="modal" data-target="#modelId" (click)="emitTrailer()">
  <i class="fa fa-play"></i>
</button>

</div>
