<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Tên Phim</th>
        <th>Mã Phim</th>
        <th>Mô tả</th>
        <th>Đánh Giá</th>
        <th>Trailer</th>
        <th>Hình Ảnh</th>
        <th>Công Năng</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>0122131331</td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-primary">Sửa</button>
          <button class="btn btn-success">Xóa</button>
        </td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>