<div class="login_form">
    <h1>Đăng Nhập</h1>
    <div class=" w3l-login-form">
        <form action="#" method="POST">

            <div class=" w3l-form-group">
                <label>Tên Đăng Nhập:</label>
                <div class="group">
                  
                    <input type="text" class="form-control" placeholder="" required="required" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Mật Khẩu:</label>
                <div class="group">
                   
                    <input type="password" class="form-control" placeholder="" required="required"/>
                </div>
            </div>
            
            <button type="submit">Đăng Nhập</button>
        </form>
        <p class=" w3l-register-p">Bạn chưa có mật khẩu?<a href="#" class="register"> Đăng ký</a></p>
    </div>
</div>