.myFilmList{
    padding: 50px 0;
}
ul{
    display: inline-flex;
}
li{
    font-size: 25px;
    border: unset;
    box-shadow: none;
    text-decoration: unset;
    list-style: none;
    
    
}
li span{
    cursor: pointer;
    color: black;
    text-decoration: none;
    color: white;
}
li span:hover{
    font-size: 30px;
    text-decoration: none;
    transition: all 0.5s;
}
.li_content:hover{
    font-size: 30px;
    transition: all 0.5s;
    text-decoration: unset;
}
.li_content span{
    font-size: 30px;
    color: #FB4226;
}
.li_content span:hover{
    color: #FB4226;
    cursor: pointer;
    text-decoration: none;
}
.list_film{
    width: 80%;
    margin: 0 auto;
}
.list_film2{
    width: 80%;
    margin: 0 auto;
}

