<div class="row my-4">
  <div class="col-12 text-center">
    <button class="btn mr-2 " [ngClass]="{'button_content':dangchieuStatus}" (click)="HienPhimDangChieu()">Đang Chiếu</button>
    <button class="btn " [ngClass]="{'button_content':!dangchieuStatus}" (click)="HienPhimSapChieu()">Sắp Chiếu</button>

  </div>
</div>
<div class="row">
  <div class="col-12 " *ngIf="dangchieuStatus; else PhimSapChieu">
    <app-phim-dang-chieu></app-phim-dang-chieu>
  </div>
  <ng-template #PhimSapChieu>
      <div class="col-12" >
          <app-phim-sap-chieu></app-phim-sap-chieu>
        </div>
  </ng-template>
  
</div>