.myCombo{
    position: relative;
    
}
.combo_tittle{
    background-color: rgb(93, 99, 104);
    color: white;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
}

.combo_list {
    padding: 0 20px;
    background-color: rgba($color: #ffffff, $alpha: 1);
    position: absolute;
    top:-220px;
    width: 500px;
    left: -500px;
    height: 273px;
    overflow-y: auto;
    z-index: 50;
}
.combo_tittle h1{
   font-size: 20px;
   font-weight: 500;
}
.combo_tittle i{
    color: white;
    font-size: 30px;
    margin-left: 10px
}
