.myCombo{
    position: relative;
    
}
.combo_tittle{
    background-color: rgb(93, 99, 104);
    color: white;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
}

.combo_list {
    padding: 0 20px;
    background-color: rgba($color: #ffffff, $alpha: 1);
    position: absolute;
    top:-220px;
    width: 500px;
    left: -500px;
    height: 273px;
    overflow-y: auto;
    z-index: 50;
}
.combo_tittle h1{
   font-size: 20px;
   font-weight: 500;
}
.combo_tittle i{
    color: white;
    font-size: 30px;
    margin-left: 10px
}
.combo_item{
    height: 40px;
    margin: 20px 0;
    padding: 0;
    position: relative;
}
.combo_item img{
    width: 50px;
    height: 50px;
}
.btn_detail{
    border: unset;
    background-color: unset;
    padding: 0;
    outline: unset;
    height: 20px;
    margin: 5px 10px;
}
.btn_detail img{
    height: 20px;
    width: 20px;
}
.item_button{
    top: -20px;
    right: 10px;
    position: absolute;
    display: flex;
}
.minus:active {
   color: red;
}
.plus:active{
    color: red;
}
.item_button button{
    background-color: unset;
    border: unset;
    outline: unset;
    padding: 0;
}
.minus{
    font-size: 40px;
    color: rgb(124, 22, 15);
}
.plus{
    font-size: 30px;
    color: rgb(124, 22, 15);
}
.item_button span{
    font-size: 25px;
    margin: 15px  10px 0 10px;
    border: 0.5px solid rgb(110, 104, 104);
    height: 35px;
    width: 35px;
    padding: 0px 9px;
}
.item_content p{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}
.item_content span:last-child {
    color: green
}
.combo_item span:first-child {
    font-size: 2px;
}
//scroll bar
.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
       overflow-y: scroll;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    background-color: #CFCFCF
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5
}
::-webkit-scrollbar-thumb {
    background-color: #2C3E50
}