<button mat-raised-button data-toggle="modal" data-target="#modelId">Thêm người dùng</button>


<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm người dùng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #signupForm="ngForm" (ngSubmit)="handleSignup(signupForm.value)">
          <div class="form-group">
            <label for="">Tài Khoản</label>
            <input type="text" name="TaiKhoan" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="">Mật Khẩu</label>
            <input type="text" name="MatKhau" ngModel class="form-control">

          </div>
          <div class="form-group">
            <label for="">Họ Tên: </label>
            <input type="text" name="HoTen" ngModel class="form-control">

          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="Email" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="">Số ĐT</label>
            <input type="text" name="SoDT" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="">Mã nhóm</label>
            <select class="form-control" name="MaNhom" id="" ngModel>
              <option>GP01</option>
              <option>GP02</option>
              <option>GP09</option>

            </select>
          </div>
          <div class="form-group">
            <label for="">Loại Người Dùng: </label>
            <input type="radio" name="MaLoaiNguoiDung" ngModel value="QuanTri">Quản trị viên
            <input type="radio" name="MaLoaiNguoiDung" ngModel value="KhachHang">Khách Hàng
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-success">Thêm người dùng</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <mat-form-field class="w-100">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="danhSachNguoiDung" matSort class="w-100 mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="TaiKhoan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tài Khoản </th>
      <td mat-cell *matCellDef="let element"> {{element.TaiKhoan}} </td>
    </ng-container>

    <ng-container matColumnDef="MatKhau">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mật Khẩu </th>
      <td mat-cell *matCellDef="let element"> {{element.MatKhau}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="HoTen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ tên </th>
      <td mat-cell *matCellDef="let element"> {{element.HoTen}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="SoDT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện thoại </th>
      <td mat-cell *matCellDef="let element"> {{element.SoDT}} </td>
    </ng-container>

    <ng-container matColumnDef="MaNhom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã nhóm </th>
      <td mat-cell *matCellDef="let element"> {{element.MaNhom}} </td>
    </ng-container>

    <ng-container matColumnDef="MaLoaiNguoiDung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã loại người dùng </th>
      <td mat-cell *matCellDef="let element"> {{element.MaLoaiNguoiDung}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary">Sửa</button>
        <button mat-raised-button (click)="XoaNguoiDung(element)" color="warn">Xóa</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10, 20, 25,30 ,35]" showFirstLastButtons></mat-paginator>
</div>