<footer class="myFooter">
  <div class="container">
    <div class="row">
      <div class="footer_item col-md-4 row">
        <div class="footer_content_title">
          <p>123Phim</p>
        </div>
        <div class="footer_content_item">
          <a href="">FAQ</a><br>
          <a href="">Brand</a>
        </div>
        <div class="footer_content_item item2">
          <a href="">Thỏa thuận sử dụng</a><br>
          <a href="">Quy chế hoạt động</a><br>
          <a href="">Chính sách bảo mật</a><br>
          <a href="">Quyền lợi thành viên</a>
        </div>


      </div>
      <div class="footer_item col-md-4">
        <div class="footer_content_title">
          <p>Đối tác</p>
        </div>
      </div>
      <div class="footer_item col-md-4">
        <div class="footer_content_title">
          <p>Social</p>
        </div>
        <div class="footer_content">
          <i class="fa fa-facebook mr-2" style=" color:#4267B2;"></i>
          <i class="fa fa-twitter" style="color:#1D9DEC"></i>
        </div>
      </div>
    </div>

  </div>

</footer>