<footer class="myFooter">
  <div class="container row">
      <div class="footer_item col-md-4 row">
          <div class="footer_content_title">
            <h1>123Phim</h1>
          </div>
           <div class="footer_content_item">
                  <a href="">FAQ</a><br>
                  <a href="">Brand</a>
                </div>
                <div class="footer_content_item">
                  <a href="">Thỏa thuận sử dụng</a><br>
                  <a href="">Quy chế hoạt động</a><br>
                  <a href="">Chính sách bảo mật</a><br>
                  <a href="">Quyền lợi thành viên</a>
                </div>
          
          
        </div>
        <div class="footer_item col-md-4">
            <div class="footer_content_title">
                <h1>Đối tác</h1>
              </div>
        </div>
        <div class="footer_item col-md-4">
            <div class="footer_content_title">
                <h1>Social</h1>
              </div>
              <div class="footer_content">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
              </div>
        </div>
  </div>

</footer>