<div class="container myDetail">
  <div class="film_detail">
    <h1>Ten Phim</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="../../assets/img/nhoc-ma-sieu-quay-the-little-vampire-3d-15090331183157.jpg" alt="">
    </div>
    <div class="col-8">
      <h1>Ten Phim</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea temporibus obcaecati eaque atque, vel at.</p>
      <ul>
        <li><span>Phân Loại</span></li>
        <li><span>Đạo Diễn</span></li>
        <li><span>Diễn Viên</span></li>
        <li><span>Thể Loại</span></li>
        <li><span>Khởi Chiếu</span></li>
        <li><span>Thời Lượng</span></li>
        <li><span>Ngôn Ngữ</span></li>
      </ul>
      <button class="btn btn-success">Đặt Vé</button>
    </div>
  </div>

</div>