.myListFilm{
    background-image: url('../../../assets/img/background-detail.jpg');
    background-size: cover;
}
.myListNews{
    background-image: url('../../../assets/img/background-news.jpg');
    
}
.search{
    position: absolute;
    top:500px;
    top: 607px;
    left: 19%;
    z-index: 5;
    width: 60%;
    
}