<app-navbar></app-navbar>
<div class="myBookingpage">
  <div class="myChair">
    <app-danh-sach-ghe [mangGhe]="DanhSachGhe" (emitTongTienVe)="tongTienVe($event)"></app-danh-sach-ghe>
  </div>

  <div class="myPay">
    <div class="pay_total">
      <h1> {{tongTienDat()}} VNĐ</h1>
    </div>
    <div class="movie_details">
      <div class="row">
        <div class="movie_img">
          <img src="../../../assets/img/thor-ragnarok-15088151416399.jpg" alt="">
        </div>
        <div class="movie_title">
          <span>07.06.2019</span>
          <h1>Thor: Ranakor</h1>
          <p>Having thought that monogamy was never possible, a commitment-phobic career woman may have to face her
            fears when she meets a good guy.</p>

        </div>
      </div>

    </div>
    <div class="">
      <app-combo-bap-nuoc (emitTongTienCombo)="tongTienCombo($event)"></app-combo-bap-nuoc>
    </div>

    <div class="myBooked ">
      <button class="btn" (click)="layThongTinVe()">Đặt vé</button>
    </div>
  </div>
</div>