<app-navbar></app-navbar>
<div class="myBookingpage">
  <div class="myChair">
    <app-danh-sach-ghe [mangGhe]="DanhSachGhe" (emitTongTienVe)="tongTienVe($event)"></app-danh-sach-ghe>
  </div>

  <div class="myPay">
    <div class="pay_total">
      <h1> {{tongTienDat()}} VNĐ</h1>
    </div>
    <div class="movie_details">
      <div class="row">
        <div class="movie_img">
          <img src={{phim.HinhAnh}} alt="">
        </div>
        <div class="movie_title">
          <span>{{phim.NgayKhoiChieu | date: 'dd.MM.yyyy'}}</span>
          <h1>{{phim.TenPhim}}</h1>
          <p>{{phim.MoTa}}</p>
        </div>
      </div>

    </div>
    <div class="">
      <app-combo-bap-nuoc (emitTongTienCombo)="tongTienCombo($event)"></app-combo-bap-nuoc>
    </div>

    <div class="myBooked ">
      <button class="btn" (click)="layThongTinVe()">Đặt vé</button>
    </div>
  </div>
</div>