<div class="myShowtimes text-center">
  <h1>Lịch Chiếu</h1>
  <div class="line">
  </div>
  <div class="list_film">
    <div class="time_list  ">
      <div class="row">
          <div class="DayofWeek">
              <p>Thứ 3</p>
              <p>03</p>
            </div>
            <div class="DayofWeek">
              <p>Thứ 3</p>
              <p>03</p>
            </div>
            <div class="DayofWeek">
              <p>Thứ 3</p>
              <p>03</p>
            </div>
            <div class="DayofWeek">
              <p>Thứ 3</p>
              <p>03</p>
            </div>
            <div class="DayofWeek">
              <p>Thứ 3</p>
              <p>03</p>
            </div>
            <div class="DayofWeek">
              <p>Thứ 3</p>
              <p>03</p>
            </div>
            <div class="DayofWeek">
              <p>Thứ 3</p>
              <p>03</p>
            </div>
            <div class="DayofWeek">
              <p>Thứ 3</p>
              <p>03</p>
            </div>
      </div>
      
    </div>
    <div class="line2">
      
    </div>
  </div>
</div>