<div class="myApp">
  <div class="container app_content">
    <div class="row">
        <div class="col-md-6 text-left left">
            <h1>Ứng dụng tiện lợi dành cho người yêu điện ảnh</h1>
            <p>Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>
            <button>App miễn phí - Tải về ngay!</button>
          </div>
          <div class="col-md-6 right">
            <img src="../../../assets/img/phone_hand.png" alt="">
            <div class="app_img">
              <img src="../../../assets/img/slide1.png" alt="">
            </div>
          </div>
    </div>
      
  </div>
  
</div>